#page-login ion-input {
  background: var(--ion-color-light);
  color: var(--ion-color-dark);
}

#page-login ion-label {
  color: var(--ion-color-dark);
  margin-bottom: 10px;
}

#page-login ion-content {
  --padding-start: 5px;
}

.center {
  display: flex;
  margin: auto;
}
