ion-item.item-bag {
  margin: 10px 0;
}

ion-item.item-bag ion-button {
  margin: 0;
}

.div-amount {
  background-color: var(--ion-color-primary);
  padding: 1px;
}

.div-amount p {
  padding: 0;
  margin: 0;
}

.div-amount p {
  text-align: center;
}
