/* .ios.platform-mobile ion-menu.menu-enabled,
.ios.platform-mobile ion-menu.menu-enabled,
.ios.platform-mobile ion-modal.show-page {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
  height: calc(100% - constant(safe-area-inset-top));
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
} */

.toolbar-ios {
  padding-top: env(safe-area-inset-top);
}

body {
  padding-top: 50px;
}
